
    <% cont = 0 %>
    <% cont2 = User.count%>



    <% if !@contenido.blank? %>

	<% User.premium.each do |user|%>

               <% cont2 = cont2 - 1  %>


			    <% user.couches.where(nombre:"#{@contenido}").each do |couch| %>

		    		<%  cont= cont + 1 %>



			        <div class="panel panel-success">
			            <div class="panel-body">
			             <div class="row">
			                <% if user.premium == true %>
			                    <%if couch.images.count == 0%>
			                        <div class="col-xs-6"> <%= image_tag "couchInn.jpg", class: "img-responsive img-rounded" %></div>
			                    <%else%>
			                        <div class="col-xs-6"><%= image_tag couch.images.first.url, class: "img-responsive img-rounded" %></div>
			                    <%end%>
			                <%else%>
			                    <div class="col-xs-6"> <%= image_tag "couchInn.jpg", class: "img-responsive img-rounded" %></div>
			                <%end%>
			                <div class="col-xs-6">
			                        <div class="panel panel-success">
			                            <div class="panel-heading">
			                                <h3 class="panel-title">Nombre: <%=couch.nombre%></h3>
			                            </div>
			                            <div class="panel-body">

			                                <h5>Pais:<%=couch.pais%></h5>  
			                                <h5>Provincia: <%=couch.provincia%></h5>
			                                <h5>Ciudad: <%=couch.ciudad%></h5>
			                                
			                            </div>
			                </div>

			            <%if user_signed_in?%>           
			                <div class="panel panel-success">
			                            <div class="panel-heading">
			                                <h2 class="panel-title">Valoracion</h2>
			                            </div>
			                            <div class="panel-body">

			                             <% n = get_prom(couch).to_i %>

			                            <% x = 1 %>

			                            <% loop do %>
			                                <% x += 1%>
			                                <%= link_to image_tag("star.png", alt: "New Think Tank"), 
			                                     {:controller => 'couches', :action => 'index' },     
			                                     {:class => 'starLogo'} %>
			                                <% break if x > n %>
			                            <% end %>

			                            <% if ( current_user.reservations.where(couch_id: couch.id, confirmacion: true).count > 0 ) && (couch.valorations.where(user_id: current_user.id).count == 0) %>

			                            <%= form_for([couch, couch.valorations.build]) do |f| %>
			                                <h2>Valorar Couch</h2>
			                                <h4>Valorar(1 a 5): <%= f.text_field :valor %> </h4>
			                                <h4><%= f.submit "Valorar" %></h4>
			                            <% end %>
			                         <%end%>
			                            </div>
			                </div>
			            <%end%>
			              
			                    <% if user_signed_in? %>
			                        <div class="panel panel-success">
			                            <div class="panel-heading">
			                                <h3 class="panel-title">Acciones</h3>
			                            </div>
			                            <div class="panel-body">
			                                <div class="row">
			                                    <div class="col-xs-6">
			                                        <div class="col-xs-6">
			                                        <%= button_to "Ver Detalles",couch, :class => "btn btn-success", :method => :get%></br>
			                                        </div>
			                                        <div class="col-xs-6">
			                                        <%= button_to "Ver Comentarios", couch , :class => "btn btn-success", :method => :get%></br>
			                                        </div>
			                                    </div>
			                                    
			                                    <div class="col-xs-6">
			                                                <% if current_user.id != couch.user_id %>
			                                                <div class="col-xs-6">
			                                            
			                                                    <%= link_to "Reservar", new_reservation_path(couch_id: couch.id) ,:class => "btn btn-success"%></br>
			                                            
			                                                </div>
			                                            <% end %>
			                                                <div class="col-xs-6">
			                                                    <%user = User.find(couch.user_id)%>

			                                                    <% if current_user.name == user.name %>
			                                                        <%= button_to "Borrar", couch ,:class => "btn btn-success", :method => :delete, data: { confirm: 'Va a eliminar una categoria. Esta seguro?'}%></br>
			                                                    <%end%>
			                                        </div>
			                                    </div>

			                                </div>

			                                <div class="row">

			                                <div class="col-xs-6">
			                                        <div class="col-xs-6">
			                                            <% if current_user.name == user.name %>
			                                            <%= button_to "Editar", edit_couch_path(couch) ,:class => "btn btn-success", :method => :get%></br>
			                                            <%end%>
			                                        </div>
			                                        <div class="col-xs-6">
			                                            <% if current_user.name == user.name %>
			                                            <%= link_to "Agregar foto", new_image_path(couch_id: couch.id) ,:class => "btn btn-success"%></br>
			                                            <%end%>
			                                        </div>
			                                </div>
			                                </div>
			                            </div>
			                            
			                        </div>
			                        <%end%>
			                                   
			                </div>
			            </div>
			                
			            </div>
			        </div>


	<% end %>




			<% end %>
			<% end %>


<% if (cont == cont2)&&(@contenido.to_i == 0) %>


	<br>
	<br>
	<br>
	<br>
	<h4> No se ha encontrado ningun couch con ese nombre </h4>
	<br>
	<br>
	<br>


<% end %>