<% if user_signed_in? %>
<div class="row">

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Nueva Reserva</h3>
      </div>
      <div class="panel-body">

        <%= form_for(@reservation) do |f| %>
          <%= f.hidden_field :couch_id %>
          <form>
        
            <div class="form-group">
              <%= f.label :fech_ing, 'Fecha de Ingreso' %><br />
              <%= f.date_field :fech_ing, required: true, autofocus: true, class:"form-control" %>
              <% if @reservation.errors.messages[:fech_ing] && !@reservation.errors.messages[:fech_ing].empty? %>
                <%= @reservation.errors.messages[:fech_ing].first %>
              <%end%>
            </div>
             <div class="form-group">
             	 <%= f.label :fech_egr, 'Fecha de Egreso' %><br />
              	 <%= f.date_field :fech_egr, required: true, autofocus: true, class:"form-control" %>
                 <% if @reservation.errors.messages[:fech_egr] && !@reservation.errors.messages[:fech_egr].empty? %>
                     <%= @reservation.errors.messages[:fech_ing].first %>
                  <%end%>
             </div>
             
            <div class="form-group">
              <%= f.submit "Crear Reserva", class: "btn btn-success btn-block" %>
            </div>
            <div class="form-group">
    		      <%= link_to 'Volver a las Reservas Realizadas', reservations_path, class: "btn btn-success btn-block" %>
            </div>
        </form>
        
        <%end%>
       
      </div>
    </div>    

</div>

</div>
<%else%>
  <script type="text/javascript">
    window.location.href="/users/sign_in"  // put your correct path in a string here
  </script>
<% end %>