<div class="row">
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Busqueda de reservas aceptadas entre dos fechas</h3>
      </div>
      <div class="panel-body">
			<%= form_tag '/reservations/reservationaccepted', :method=>"get" do %>
			<form>
			<div class="form-group">
			<%= label_tag :fechahini, 'Ingrese fecha inicial' %>
			<%= date_field_tag :fechaini, '',required: true, autofocus: true, class:"form-control"%>
			</div>
			<div class="form-group">
			<%= label_tag :fechafin, 'Ingrese fecha final'%>
			<%= date_field_tag :fechafin, '',required: true, autofocus: true, class:"form-control"%>
			</div>
			<div class="form-group">
			<%= submit_tag 'Buscar', class: "btn btn-success btn-block" %>
			</div>
			</form>
			<% end %>
		</div>
	</div>
</div>
</div>
<div class="row">


<%if @reservas.count > 0%>
	<div class="panel panel-success">
	  <div class="panel-heading">
	    <h3 class="panel-title">Mis Reservas</h3>
	  </div>
	</div>

<%@reservas.each do |reservation|%>
	<table class="table table-bordered">
        <thead>
        <tr>
          <th>Couch Reservado</th>
          <th>Usuario</th>
          <th>Fecha de Ingreso</th>
          <th>Fecha de Egreso</th>
          <th>Confirmacion</th>
          <th>Cancelar</th>
        </tr>
        </thead>

      <tbody>

          <tr>
            <td><%= reservation.couch.nombre %></td>
             <% if (reservation.confirmacion == false)%>
                <td>En espera</td>
            <%else%>
              <td><%= link_to "Ver Contacto", mydates_reservation_path(id: reservation.id) %></td>
            <%end%>
            <td><%= reservation.fech_ing %></td>
            <td><%= reservation.fech_egr %></td>
           <% if (reservation.confirmacion == false) && (reservation.pendiente == true ) %>
                <td>Pendiente</td>
            <%else%>
                 <% if (reservation.confirmacion == false) && (reservation.pendiente == false ) %>
                    <td>Rechazada</td>
                  <%else%>
                    <td>Confirmada</td>
                  <%end%>
            <%end%>
            <td><%= link_to 'Cancelar Reserva', reservation, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
       </tbody>
       </table>

<%end%>
<%end%>
</div>